/*ESTILO FOOTER*/
footer {
	background: rgba(0, 0, 0, 0.4);
	font-family: Verdana;
	font-style: initial;
	font-variant: small-caps;
	color: #888;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	height: auto;
	width: 100%;
}

#copyright, #github, #github:hover {
	color: antiquewhite;
	font-weight: bold;
}

/*DEJAR FOOTER POSICIONADO SIEMPRE ABAJO*/
html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 100px; /* bottom = footer height */
}

.error {
	color: firebrick;
}